@using epi21_test.Models.ViewModels
@model ResultViewModel


<h1>FIND</h1>
@using (Html.BeginForm(FormMethod.Post))
            {
                <input type="text" name="query" value=""/>
                <input type="submit" value="search"/>
            } 
@if (Model.Result != null)
            {
                <<ul>
    @foreach (var item in Model.Result)
    {
        <li>
            <a href="@Url.ContentUrl(item.ContentLink)">@item.Name</a>
        </li>
    }
</ul>
            }

