@using epi21_test.Models.ViewModels
@model ResultViewModel


<h1>FIND</h1>
@using (Html.BeginForm(FormMethod.Post))
            {
                <input type="text" name="query" value=""/>
                <input type="submit" value="search"/>
            } 
@if (Model.Result != null)
            {
                <ul>
                    @foreach(var item in Model.Result)
                {
                    <li>
                        <h2><a href="@item.Url">@item.Title</a></h2>
                        <p>@Html.Raw(item.Excerpt</p>
                    </li>
                }
                </ul>
            }

