@using epi21_test.Models.ViewModels

@model StartPageViewModel

<h1>@Html.PropertyFor(x => x.CurrentPage.Header)</h1>

<h2>NEWS</h2>
@Html.PropertyFor(x => x.CurrentPage.ContentArea)

BackgroundColor: @Html.PropertyFor(x=>x.CurrentPage.BackgroundColor)





